alembic
black
click
colorama
Flask
Flask-Cors
Flask-Migrate
Flask-Script
Flask-SQLAlchemy
greenlet
gunicorn
importlib-metadata
itsdangerous
Jinja2
jsonify
Mako
MarkupSafe
mypy-extensions
packaging
pathspec
platformdirs
PyMySQL
six
SQLAlchemy
typing_extensions
Werkzeug
zipp
